<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <a href="#" class="toggle__button">
            <span class="navbar__bar"></span>
            <span class="navbar__bar"></span>
            <span class="navbar__bar"></span>
        </a>
            <nav class="navbar__base">
                    <a class="navbar__logo" asp-page="/Index">DEVPAGE</a>
                    <ul class="nav__links">
                            <li><a class="nav_atag" asp-page="/Feedback">Zgłoś promocje</a></li>
                            <li><a class="nav_atag" asp-page="/Login">Zaloguj</a></li>
                    </ul>
                    <button class="nav__button"> Zaloguj
                    </button>
                <label></label>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
