
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}


/*Navbar styling - messy as hell, trying things out*/
.navbar__base {
    background-color: #27496d;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: ghostwhite !important;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 2%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}
.navbar__logo{
    margin-right: auto;
}
.navbar__base a,
.navbar__base li,
.navbar__base button{

    color:white;
    text-decoration: none;

}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.nav__links {
    list-style: none;
    margin-left: auto;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    align-items:center;
}

.nav_atag {
    transition: all 0.4s ease 0s;
}

.nav_atag:hover {
    color:#00a8cc;
}

.nav__button {
    padding: 9px 25px;
    background-color: rgba(12,123,147,0.6);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    margin-left: 20px;
}
.nav__button:hover {
    background-color: rgba(12,123,147,1);
}
.toggle__button {
    position:absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle__button .navbar__bar {
    height:3px;
    width:100%;
    background-color:white;
    border-radius: 10px;
}
@media (max-width: 1030px) {
    .toggle__button {
        display: flex
    }

    .navbar__logo {
        margin-top: 8px;
    }

    .navbar__base {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__button {
        display: none;
    }

    .nav__links {
        margin-left: 0;
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

        .nav__links li {
            margin-top: 20px;
            padding: 0px 0px;
            align-items: center;
            justify-content: center;
        }

            .nav__links li a {
                text-align: center;
            }

        .nav__links ul {
            width: 100%;
            align-items: center;
            justify-content: center;
        }

    .nav__links.active {
        display:flex;
    }

}
/*Styling for whole index webpage*/
.index__center {
    display: flex;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    justify-content: center;
    align-self: center;
    padding-left: 40px;
    padding-right: 40px;
}
.grid__website {
    display: grid;
    background-color: indianred;
    grid-template-columns: 786px 394px;
    margin-left: 10px;
    margin-right: 10px;
}
/* Styling ARTICLE CLASS MAIN SITE INDEX ARTICLE*/
.grid__article__list {
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 160px 120px;
    grid-gap: 10px;
    background-color: white;
    border-radius: 10px;
}

.grid__item1{
    background-color: papayawhip;
}
.grid__item2 {
    background-color: white;
}
.grid__item3 {
    background-color: papayawhip;
}

.grid__img {
}
.grid__info {
}
.grid__text {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Style for info article section main page*/
.article__info__flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: solid;
    border-bottom-width: 1px;
    

}
.article__top{
    color:darkgray;

}
@media (max-width: 1180px) {

    .grid__website {
        display: grid;
        background-color: blue;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .index__center {
        padding-left: 60px;
        padding-right: 60px;
    }

    .grid__article__list {
        grid-template-columns: 190px 2fr;
        grid-template-rows: 160px 120px;
    }
}
@media (max-width: 660px) {

    .index__center {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 660px) {

    .grid__article__list {
        grid-template-columns: 120px 2fr;
        grid-template-rows: 110px 120px;
    }

}
